## GreenBond test results

Summary
Running 14 tests for test/GreenBond.t.sol:GreenBondTest
- [[PASS] testClaim(uint256) (runs: 256, μ: 1036136, ~: 1035648)](./tests/testClaim.md)
- [[PASS] testClaimFail(uint256) (runs: 256, μ: 672851, ~: 672132)](./tests/testClaimFail.md)
- [[PASS] testDeployAssets(uint256) (runs: 256, μ: 888204, ~: 887431)](./tests/testDeployAssets.md)
- [[PASS] testDeployAssetsFail(uint256) (runs: 256, μ: 672695, ~: 671797)](./tests/testDeployAssetsFail.md)
- [[PASS] testDepositAssets(uint256) (runs: 256, μ: 619951, ~: 619151)](./tests/testDepositAssets.md)
- [[PASS] testDepositAssetsFail(uint256) (runs: 256, μ: 213686, ~: 213688)](./tests/testDepositAssetsFail.md)
- [[PASS] testDepositFail(uint256) (runs: 256, μ: 194014, ~: 194016)](./tests/testDepositFail.md)
- [[PASS] testDepositUSDC(uint256) (runs: 256, μ: 668041, ~: 666932)](./tests/testDepositUSDC.md)
- [[PASS] testDepositUSDT(uint256) (runs: 256, μ: 668839, ~: 668018)](./tests/testDepositUSDT.md)
- [[PASS] testRecoverToken(uint256) (runs: 256, μ: 238198, ~: 238200)](./tests/testRecoverToken.md)
- [[PASS] testRecoverTokenFail(uint256) (runs: 256, μ: 213848, ~: 213850)](./tests/testRecoverTokenFail.md)
- [[PASS] testTransferToken(uint256) (runs: 256, μ: 707188, ~: 706388)](./tests/testTransferToken.md)
- [[PASS] testWithdraw(uint256) (runs: 256, μ: 1044069, ~: 1043064)](./tests/testWithdraw.md)
- [[PASS] testWithdrawFail(uint256) (runs: 256, μ: 678123, ~: 677291)](./tests/testWithdrawFail.md)

Test result: ok. 14 passed; 0 failed; finished in 51.56s